<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Bootcamps</title>
</head>
<body>
  
  <h1>Bootcamps in Berlin</h1>
<div id="container">
  <div class="Bootcamp">
    <p>Bootcamp 1</p>
    <img src="/images/ironhack.jpg">
  </div>
  <div class="Bootcamp">
    <p>Bootcamp 2</p>
    <img src="/images/ironhack.jpg">
  </div>
  <div class="Bootcamp">
    <p>Bootcamp 3</p>
    <img src="/images/ironhack.jpg">
  </div>
  </div>
  <h2>There are no other Bootcamps, dummie</h2>
</body>
</html>