<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Photo Gallery</title>
</head>
<body>
    <div class="container">
        <img src="/images/le-head.png" alt="">
        <img src="/images/logo-big.png" alt="">
        <img src="/images/Mvj9Z4GM_400x400.jpg" alt="">
    </div>
    
</body>
</html>